
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px;
    background-color: lightgray;
}
p {
    color: white;
    background-color: #34495E; 
    padding : 21px;
    border-radius : 20px;
}
